* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #17062a;
  padding: 5%;
}

.main {
  width: 540px;
  height: 708px;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 44px;
}

.div1 {
  display: flex;
  align-items: end;
}

.div2 {
}

.div123 {
  display: flex;
  justify-content: space-around;
  color: #ffe53d;
}
.calc {
  color: #ffe53d;
  font-size: 32px;
  font-weight: bold;
}
.div3 {
  align-items: center;
  justify-content: space-around;
  display: flex;
  background-color: #1e0936;
  height: 26px;
  width: 71px;
  border-radius: 13px;
}

.theme {
  color: #ffe53d;
  font-size: 12px;
  font-weight: bold;
  margin-right: 30px;
}

.cirk1 {
  display: block;
  background-color: aqua;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.display {
  display: flex;
  align-items: center;
  padding: 5%;
  justify-content: end;
  height: 128px;
  background-color: #1e0936;
  margin-top: 31px;
  border-radius: 10px;
  color: #ffe53d;
  font-size: 56px;
  font-weight: bold;
  overflow: hidden;
}

.btn-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #1e0936;
  margin-top: 26px;
}

button {
  width: 101px;
  height: 70px;
  background-color: #331c4d;
  color: #ffe53d;
  font-size: 40px;
  font-weight: bold;
  box-shadow: 0 -4px #881c9e inset;
  margin: 11px;
  border-radius: 10px;
}

.del {
  background-color: #56077c;
  color: white;
  font-size: 28px;
}

.reset {
  background-color: #56077c;
  color: white;
  font-size: 28px;
  width: 227px;
  height: 64px;
}

.toloba {
  background-color: #00ded0;
  color: black;
  font-size: 28px;
  width: 227px;
  height: 64px;
  box-shadow: 0 -4px 0 #6cf9f1 inset;
}
